h1,
h2,
h3 {
    font-family: "Amatic SC";
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #ffa626, #4c5401);
    color: white;
    margin: 0;
}

.navbar {
    background-color: #4c5401;
}

.dropdown-menu {
    background-color: #ffa626;
}

.site-footer {
    background-image: linear-gradient(#f8c37a, #7b8337);
    padding: 20px 0;
}

html {
    overflow-x: hidden;
}

.modal-header {
    background-color: #ffa626;
}

.card-header-green {
    background-color: #4c5401;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.carousel-inner,
.carousel-item {
    background-color: darkslategrey;
    background-position: center;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-image {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .calendar {
        height: 500px;
    }
}

@media screen and (min-width: 768px) {
    .fb-page {
        width: 328px;
    }
}

@media screen and (min-width: 992px) {
    .fb-page {
        width: 448px;
    }
}

@media screen and (min-width: 576px) {
    .fb-page {
        width: 452.8px;
    }
}
